[Unit]
Description=Verifier of Verse-Layer for the Oasys Blockchain..
After=network.target

[Service]
User=geth
Type=simple

ExecStart=/usr/local/bin/oasvlfy start --config /home/geth/.oasvlfy/config.yml

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
